$item-size: 120px;

.item-new__icon {
    height: $item-size;
    width: $item-size;
    margin: 0 auto;
    background-size: $item-size;
    background-image: url('../../../../../assets/images/newfile.svg');
}

.item-new__text {
    text-align: center;
    font-size: 1.7em;
}

.item-new__wrapper {
    height: 100%;
    background-color: #CFD8DC;
    padding-top: 2em;
    transition: background-color 0.4s ease-in;
    cursor: pointer;

    &:hover {
        background-color: #B0BEC5
    }
}
