.hero__welcome--text {
    text-align: center;
    font-size: 7em;
    font-weight: 100;
    margin-top: 0;
}

.hero__welcome--icon{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background: url('../../../../assets/images/spyglass.svg');
}
