<h2 mat-dialog-title>Create new activity</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type" formControlName="type">
        <mat-option value="freq">Frequential</mat-option>
        <mat-option value="time">Time dependent</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Color" formControlName="color">
        <mat-option *ngFor="let color of colors" value={{color.value}}>{{ color.color }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="submit()">Save</button>
</mat-dialog-actions>
