/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

html,body {
    height: 100%;
}

app-landing-page {
    min-height: 100%;
    display: flex;
}