<form>
  <mat-form-field>
    <input
        matInput
        required
        placeholder="First name"
        autocorrect="off"
        formControlName="first_name"
        type="text"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        required
        placeholder="Last name"
        autocorrect="off"
        formControlName="last_name"
        type="text"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        required
        placeholder="Email Address"
        autocorrect="off"
        formControlName="email"
        type="email"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        required
        placeholder="Password"
        formControlName="password"
        type="password"
    >
  </mat-form-field>
  <mat-form-field>
    <input
        matInput
        required
        placeholder="Retype password"
        formControlName="password_recheck"
        type="password"
    >
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Create account</button>
</form>
